body {
	padding:8px;
}

.sortable_column {
	padding:6px;
	background-color:black;
}

.sortable_column:hover {
	text-decoration:underline;
	font-weight:bold!important;
	cursor:pointer!important;
}

.sort_arrow {
	font-size:18px;
	font-weight:bold;
}

#table_header
